<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= page.title %> | <%= site.title %></title>
</head>
<body>
  <div class="content">
    <%- page.content %>
  </div>
</body>
</html>
